.bg_login {
    height: 100vh;
    width: 100%;
    .side {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        background: $color_element_default;

        .txt_login {
            width: 100%;
            @include setfontstyle(Text_2, 32px, #FFF); 
            top: -70px;
            position: absolute;


        }
        .action_form {
            width: 100%;
            bottom: -50px;
            color: #fff;
            position: absolute;
            button {
                float: left;
            }
            div { float: left;}
        }
    }
    .side.green {
        background: #86CB9E;
        
        .logo {
            width: 333px;
            height: 281px;
            position: absolute;
            right: 30px;
            top: 30%;
            img {max-width: 100%; max-height: 100%;}
        }
    }
    .side.black {
        background: #212531;
    }
    .wrapper {
        border-radius: 4px;
        @include setfontstyle(Text_2, 22px, #FFF); 
        width: 960px;
        border: 1px solid #000;
        display:block;left:50%;top:50%;position:absolute; @include translate(-50%, -50%);
         
        .side {
            padding: 30px;
            height: 200px;
            p {
                @include setfontstyle(Text_2, 20px, $color_menu);
            }
        }
        .form-group {
            @include setfontstyle(Text_2, 22px, $color_text_title_1); 
            margin-bottom: 0px;  
        }
        input.form-control {
            background: #F8FAFC !important;
            @include setfontstyle(Title_2, 20px, $color_text_title_1); 
        }

    }
}