// Color
$color_brand: #86CB9E;
$color_body: #EFF3F6;   
$color_element_default: #FFFFFF;
$color_username: #1A91EB;

$color_menu: #7F8FA4;
$color_menu_active: #B7C0CD;

// Botton Color
$color_btn_black: #222C3C;
$color_btn_blue: #3D9BF8;
$color_btn_green: #39B54A;

// Font Size
$color_text_title_1: #424446;
$color_text_title_2: #1D2531;

// dimention
$width_firstmenu: 80px;
$width_secondmenu: 200px;
$height_topbar: 80px;


$space_element: 30px;   

$z_index_topbar: 998;
$z_index_navigation: 999;
$z_index_maincontent: 1;   
$z_index_gobalview: 1001;
$z_index_backdrop: 1000;
