.writing {
    width: 100%;
    min-height: 800px;
    background: $color_element_default;
    padding: 30px;

    .title {
        width: 100%;
        min-height: 70px;
        @include limitLine(1);
        @include setfontstyle(Title_2, 62px, $color_text_title_2); 
        padding-bottom: 12px;
        box-shadow: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0px;
    }
    .tags {
        rl-tag-input {
            box-shadow: none;
            padding-left: 12px;
        }
    }
    .fr-toolbar {
        color: #222;
        background: #fff;
        position: relative;
        z-index: 4;
        font-family: Arial,Helvetica,sans-serif;
        box-sizing: border-box;
        user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding: 0 2px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        background-clip: padding-box;
        box-shadow: 0 0px 0px rgba(0,0,0,.12), 0 0px 0px 0px rgba(0,0,0,.16);
        text-align: left;
        border: 0;
        border-top: 0px solid #222;
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .fr-box.fr-basic.fr-top .fr-wrapper {
        box-shadow: none;
    }
    .fr-quick-insert {
        position: absolute;
        z-index: 9998;
        white-space: nowrap;
        padding-right: 5px;
        margin-left: 10px;
        box-sizing: content-box;
    }
}