<!--<div class="button-container">
  <label class="upload-button is-pulled-left">
    <input type="file"
           class="hidden"
           ngFileSelect
           [options]="options" 
           [events]="inputUploadEvents"
           (onUpload)="handleUpload($event)"
           (onPreviewData)="handlePreviewData($event)"
           (beforeUpload)="beforeUpload($event)">
    Browse 
  </label>
</div>

<div *ngIf="previewData && !resp">
  <img [src]="previewData" height="84" width="84"> 
</div> 

<p>
  Allowed extensions: <code><b>.jpg</b>, <b>.png</b></code>
</p>

<div>
  <button type="button" class="start-upload-button" (click)="updateCover()">Update</button>
</div>-->

<div class="workspace">
  <div class="toolbar">
    <div class="search_bar">
      <div class="user_title">
        <div class="avatar_img" routerLink="/profile/{{owner}}/timeline" style="cursor:pointer">
          <img src="{{avatar}}">
        </div>
        <div class="avatar_detail">
          <span class="name" style="cursor:pointer" routerLink="/profile/{{owner}}/timeline">{{fullname}}</span>
          <span class="hole">{{date | date: 'dd/MM/yyyy'}}, {{date | timeAgo}}</span>
        </div>
        <div class="avatar_menu">
          <!--<i class="glyphicon glyphicon-trash"></i>-->
        </div>
      </div>
    </div> 
    <button class="btn green" (click)="submit()"> <i class="icon"><img src="../assets/images/sendicon.png"></i> Update </button>
    <select class="btn select" [(ngModel)]="catalog_id"> 
        <option  *ngFor="let row of listCatalog; let i = index" value="{{row._id}}">{{row.name}}</option> 
    </select>
    <div class="pull-rigth">{{response}}</div> 
  </div>
  <div class="scroll_y"> 
    <!--Writing-->
    <div class="writing">
      <div class="profile_form">
        <div class="form">
            <div class="form-group"> 
                <!--Title-->
                <input class="form-control title" placeholder="Title" [(ngModel)]="title">
                <!--Upload Cover-->
                <div class="button-container" >
                  <label class="upload-button is-pulled-left" style="cursor:pointer">
                    <input type="file" class="hidden" ngFileSelect
                          [options]="options" 
                          [events]="inputUploadEvents"
                          (onUpload)="handleUpload($event)"
                          (onPreviewData)="handlePreviewData($event)"
                          (beforeUpload)="beforeUpload($event)">
                          ==> Plese Select Cover Upload <==
                  </label>
                </div> 
                <div *ngIf="previewData && !resp">
                  <img [src]="previewData" height="84" width="84"> 
                </div> 

                <p>
                  Allowed extensions: <code><b>.jpg</b>, <b>.png</b></code>
                </p>
                <!-- Tags -->
                <div class="form-group tags">
                  <rl-tag-input [(ngModel)]="tags" placeholder="Click To Add Tags.." [addOnComma]=false [addOnSpace]=true ></rl-tag-input>
                </div>
            </div>
        </div>
      </div>
       <!-- Froala -->
      <div class="froala" [froalaEditor]="titleOptions" [(froalaModel)]="content"></div>
    </div>
  </div>
</div>



