<article class="col-sm-6 col-md-4">  
    <div class="boxTile" *ngFor="let row of listDataPartner">
        <div class="square" style="cursor: pointer;"> 
            <img [src]="app.api()+row.photo.path" width="64" height="64" (click)="linkTap(row.link)">
            <button (click)="delPartner(row._id)">delete</button>
        </div>
    </div> 
</article>

<!--Link-->
<div class="col-xs-4">
    <input placeholder="Link Website" type="text" class="form-control"  id="pwd" [(ngModel)]="link">
</div> 

<!--Upload Cover-->
<div class="button-container" >
  <label class="upload-button is-pulled-left" style="cursor:pointer">
    <input type="file" class="hidden" ngFileSelect
          [options]="options" 
          [events]="inputUploadEvents"
          (onUpload)="handleUpload($event)"
          (onPreviewData)="handlePreviewData($event)"
          (beforeUpload)="beforeUpload($event)">
          ==> Plese Select Partner Upload <==
  </label>
</div>
<div *ngIf="previewData && !resp">
  <img [src]="previewData" height="84" width="84"> 
</div> 
<p>
  Allowed extensions: <code><b>.jpg</b>, <b>.png</b></code>
</p>

<button class="btn green" (click)="submit()"> <i class="icon"><img src="../assets/images/sendicon.png"></i> Save </button>
<div class="pull-rigth">{{response}}</div> 