<h1>Table List DJ</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Time</th> 
      <th>Mon - Thu</th> 
      <th>Fri</th>  
      <th>Sat - Sun</th>   
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataTableDJ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{row.time_start+' - '+row.time_end}}</td> 
      <td>{{row.name}}</td> 
      <td>{{row.friday}}</td>  
      <td> Weekend Longplay </td> 
    </tr> 
  </tbody>
</table>  

<h1>List DJ</h1>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Time</th> 
      <th>Name</th> 
      <th>Week</th>  
      <th>Edit</th>  
      <th>Delete</th>  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataDJ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{row.time_start+' - '+row.time_end}}</td> 
      <td>{{row.name}}</td> 
      <td>{{(row.week == 1) ? 'Mon-Thu' : 'Fri'}}</td> 
      <td><button (click)="edit(row._id)">Edit</button></td> 
      <td><button (click)="delete(row._id)">Delete</button></td>  
    </tr> 
  </tbody>
</table>  

<div class="col-xs-2">
    <input placeholder="Salary Term" type="time" class="form-control"  id="pwd" [(ngModel)]="time">
</div>

<div class="col-xs-2">
    <input placeholder="Salary Term" type="time" class="form-control"  id="pwd" [(ngModel)]="endtime">
</div>

<div class="col-xs-2">
    <select class="form-control input-small" [(ngModel)]="week">
      <option value="1">Mon-Thu</option>
      <option value="2">Fri</option>
    </select> 
</div>

<div class="col-xs-3">
  <input class="form-control" id="ex1" type="text" [(ngModel)]="name">
</div>

<div class="col-xs-3">
  <span>{{response}}</span> 
  <button type="button" class="btn btn-primary btn-sm" (click)="submit()" *ngIf="_id == null">Submit</button>
  <button type="button" class="btn btn-primary btn-sm" (click)="update()" *ngIf="_id != null">Update</button>
</div>